//Colors 
$primary: #d32d2d;
$dark: #222222;
$dark-light: #96999c;
$light: #e8eafa;
$info-bg: #3d9dec;
$info-color: #e1f0f5;
$success: #8bc34a;

$info-btn: #3d9dec;
$info-color-btn: #FFFFFF;

$nav-bar-bg-color: #21252e;
// $nav-link-color: rgb(255 255 255 / 94%);;
$nav-link-color: rgb(255 255 255 / 94%);;
$nav-link-active-bg: #222222 ;
$nav-link-active-color: #8bc34a;
$nav-group-show-bg: rgb(18 18 18 / 20%);
$nav-group-toggle: #8bc34a;
$nav-link-bg: #222222;