//Colors 
$primary: #444444;
$dark: #565866;
$light: #e8eafa;
$info-bg: #e8eafa;
$info-color: #202022;

$info-btn: #3d4a62;
$info-color-btn: #FFFFFF;

$nav-bar-bg-color: #3d4a62;
$nav-link-color: rgb(255 255 255 / 94%);;
$nav-link-active-bg: #21252e;
$nav-link-active-color: rgb(255, 255, 255);
$nav-group-show-bg: rgb(18 18 18 / 20%);
$nav-link-bg: #222222;